.view-button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.notes-container {
    align-self: flex-start;
}
.cropnotes {
    text-align: left;
}