.view-button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.cropname {
  text-transform: uppercase;
  letter-spacing: .09em;
  color: hotpink;
  font-size: 18px;
  margin-top: 10px;
}
.cropnotes {
  text-align: left;
  margin-top: 5px;
}

.mobile {
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.bold {
  font-weight: bold;
}
