.gardenName-container {
  margin-bottom: 30px;
}

.crop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-form {
  border: 1px solid rgba(232, 165, 93, 0.4);
  margin: 30px auto;
}

.crop-group {
  border: 1px solid rgba(232, 165, 93, 0.4);
  padding: 10px;
}

.button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-top: 15px;
}

.button-container > button,
.button {
  margin-bottom: 10px;
}

.button-container > button:hover,
.button:hover {
  background-color: #BADA55;
  color: white;
  border: none;
}

.submit-button,
.delete-button {
  background-color: hotpink;
  color: white;
  border: none;
}
