.App {
  text-align: center;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 50px auto;
  padding: 50px;
}

.heading {
  color: #bada55;
  margin: 0 8px;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  font-weight: 600;
}

.chart-container {
  position: relative;
  width: 95%;
  margin: 50px auto;
}

.error {
  color: red;
}


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
