nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  padding: 0.5%;
  border-bottom: 1px solid rgba(232, 165, 93, 0.4);
}

.NavLink {
  text-decoration: none;
  margin: 0 8px;
  color: hotpink;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  font-weight: 300;
  font-size: 14px;
}

.header {
  flex: 2 2 40%;
  color: #bada55;
}

@media only screen and (max-device-width: 480px) {
  .menu {
    display: flex;
    flex-direction: column;
  }

  nav {
    border: none;
  }
}
