nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  padding: .5%;
}

.NavLink {
  text-decoration: none;
  color: #BADA55;
  margin: 0 8px;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  font-weight: 300;
  font-size: 14px;
}

.header {
    flex: 2 2 40%;
}