form {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

form div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

form div > label {
  padding: 8px 8px 8px 0;
  font-weight: 300;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  max-width: 220px;
}

button {
  background: #FFF;
  border: 1px solid #E8A55D;
  border-radius: 2px;
  color: #E8A55D;
  letter-spacing: 0.09em;
  /* margin-left: auto; */
  padding: 8px 16px;
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
}

input {
  font-size: 16px;
  padding: 15px;
  border: none;
  /* width: 100%; */
  font-family: "Hind", sans-serif;
  border-bottom: 1px solid #bada55;
}

label {
  color: #E8A55D;
}
